################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.dotnet/
**/.dotnet/
**/.vs/
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
